.btn-custom {
  background-color: var(--clr-gray);
  padding: 0.5rem;
  border-radius: 100vmax;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  transition: box-shadow 0.3s ease;
}

.btn-custom:hover {
  transform: scale(1.1);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-out;
}

.normal {
  background-color: var(--type-normal);
  color: var(--clr-black);
}

.fire {
  background-color: var(--type-fire);
  color: var(--clr-black);
}

.water {
  background-color: var(--type-water);
  color: var(--clr-white);
}

.grass {
  background-color: var(--type-grass);
  color: var(--clr-black);
}

.electric {
  background-color: var(--type-electric);
  color: var(--clr-black);
}

.ice {
  background-color: var(--type-ice);
  color: var(--clr-black);
}

.fighting {
  background-color: var(--type-fighting);
  color: var(--clr-white);
}

.poison {
  background-color: var(--type-poison);
  color: var(--clr-white);
}

.ground {
  background-color: var(--type-ground);
  color: var(--clr-black);
}

.flying {
  background-color: var(--type-flying);
  color: var(--clr-black);
}

.psychic {
  background-color: var(--type-psychic);
  color: var(--clr-black);
}

.bug {
  background-color: var(--type-bug);
  color: var(--clr-black);
}

.rock {
  background-color: var(--type-rock);
  color: var(--clr-black);
}

.ghost {
  background-color: var(--type-ghost);
  color: var(--clr-white);
}

.dark {
  background-color: var(--type-dark);
  color: var(--clr-white);
}

.dragon {
  background-color: var(--type-dragon);
  color: var(--clr-white);
}

.steel {
  background-color: var(--type-steel);
  color: var(--clr-black);
}

.fairy {
  background-color: var(--type-fairy);
  color: var(--clr-black);
}

.kanto {
  background: #e32020;
  background: linear-gradient(
    90deg,
    rgba(227, 32, 32, 1) 36%,
    rgba(29, 163, 240, 1) 64%
  );
  color: var(--clr-gray);
}

.johto {
  background: #e3bc20;
  background: linear-gradient(
    90deg,
    rgba(227, 188, 32, 1) 36%,
    rgba(191, 191, 191, 1) 64%
  );
}

.hoenn {
  background: #bd0f0f;
  background: linear-gradient(
    90deg,
    rgba(189, 15, 15, 1) 36%,
    rgba(0, 13, 189, 1) 64%
  );
  color: var(--clr-white);
}

.sinnoh {
  background: #0f60bd;
  background: linear-gradient(
    90deg,
    rgba(15, 96, 189, 1) 36%,
    rgba(212, 8, 181, 1) 64%
  );
  color: var(--clr-gray);
}

.unova {
  background: #616161;
  background: linear-gradient(
    90deg,
    rgba(97, 97, 97, 1) 35%,
    rgba(255, 255, 255, 1) 65%
  );
  color: var(--clr-black);
}

.kalos {
  background: #0048d9;
  background: linear-gradient(
    90deg,
    rgba(0, 72, 217, 1) 35%,
    rgba(153, 0, 0, 1) 65%
  );
  color: var(--clr-white);
}

.alola {
  background: #7b00d9;
  background: linear-gradient(
    90deg,
    rgba(123, 0, 217, 1) 35%,
    rgba(255, 162, 0, 1) 65%
  );
  color: var(--clr-white);
}

.galar {
  background: #35c7fc;
  background: linear-gradient(
    90deg,
    rgba(53, 199, 252, 1) 35%,
    rgba(242, 31, 31, 1) 65%
  );
}

.hisui {
  background: #a8a8a8;
  background: linear-gradient(
    90deg,
    rgba(168, 168, 168, 1) 35%,
    rgba(5, 129, 173, 1) 65%
  );
  color: var(--clr-white);
}

.paldea {
  background: #ad0505;
  background: linear-gradient(
    90deg,
    rgba(173, 5, 5, 1) 35%,
    rgba(106, 40, 176, 1) 66%
  );
  color: var(--clr-white);
}

.national {
  background: #0048d9;
}
